<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Skusku Cart</title>

</head>
<body>
    <h1>Cart Page</h1>
    <div>
        {% include 'GGGGinoSkuskuCartBundle:Cart:cart.html.twig' %}
    </div>
</body>
</html>