{% extends "GGGGinoSkuskuCartBundle::layout.html.twig" %}

{% block body %}
    <h1>Cart Page</h1>
    <div>
        {% include 'GGGGinoSkuskuCartBundle:Cart:cart.html.twig' %}
    </div>
{% endblock %}