<style>
    .cartPreview{
        display: inline-block;
        position: relative;
    }
    #skusku-cart-button{
        display: inline-block;
        padding: 10px 20px;
        margin: 10px;
    }
    .cartPreview .details{
        -webkit-transition: all .5s; /* Safari */
        transition: all .5s;
        max-height: 0;
        overflow: hidden;
        position: absolute;
        z-index: 20;
        background: #FFFFFF;
        top: 100%;
    }
    .cartPreview:hover .details{
        -webkit-transition: all .5s; /* Safari */
        transition: all .5s;
        max-height: 500px;
        border: 1px solid grey;
        padding: 10px 20px;
    }
</style>
<div class="cartPreview">
    <div class="right aligned column">
        <div id="skusku-cart-button" class="ui circular cart button">
            <i class="cart icon"></i>
            <span id="skusku-cart-total">$0.00</span>
        </div>
        <div class="details">
            Your cart is empty.
        </div>
    </div>
</div>