<div class="cartPreview">
    <div class="right aligned column">
        <div id="sylius-cart-button" class="ui circular cart button">
            <i class="cart icon"></i>
            <span id="sylius-cart-total">$0.00</span>
        </div>
        <div class="ui large flowing cart popup left center transition hidden" style="top: 6.6875px; bottom: auto; left: auto; right: 114.844px;">
            Your cart is empty.
        </div>
    </div>
</div>