{% block skusku_product_buttons_widget %}
    <div class="delete">
        <a href=""><i data-idcartproducturl="" class="fa fa-trash"></i></a>
        <a href=""><i data-idcartproducturl="" class="fa fa-sync"></i></a>
    </div>    
{% endblock %}